@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
}

@layer base {
  html {
    @apply antialiased;
  }
  
  body {
    @apply bg-slate-900 text-slate-50;
    font-family: var(--font-noto-sans-jp);
  }
}
